[color]
	diff = auto
	status = auto
	branch = auto
[user]
	#name = simon_p
	email = pa@findspire.com
	name = Pierre-Alain SIMON
[alias]
    	ci = commit
    	co = checkout
    	st = status -s
    	br = branch
	g = grep
	d = diff
	cp = cherry-pick
	r = rebase
	ri = rebase -i
	rs = rebase --skip
	ra = rebase --abort
[push]
	default = matching
[core]
	autocrlf = input
