xorg
xorg-xinit
rxvt-unicode
rxvt-unicode-terminfo
vim
zsh
awesome
keepass
ranger
git
thunderbird
gdb
gcc
valgrind
python
ipython2
chromium
slock
xchat
alsa-utils
flashplugin
mplayer
openssh
wget
htop
eog
